.aboutSection {
  padding: 5rem 1rem;
  background-color: white;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.mainGrid {
  display: grid;
  gap: 3rem;
  align-items: center;
  grid-template-columns: 1fr;
}

.imageWrapper {
  position: relative;
}

.mainImage {
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 100%;           
  max-width: 400px;  
  height: auto;        
  object-fit: contain;   
  display: block;      
  margin: 0 auto;       
}

.experienceBadge {
  position: absolute;
  bottom: -0.5rem;
  right: 2.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.badgeValue {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.badgeLabel {
  font-size: 0.6rem;
  margin: 0;
}


.title {
  margin-bottom: 1.5rem;
   font-family: var(--font-black-ops), system-ui;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.125rem;
  color: #4b5563;
  margin-bottom: 1.5rem;
  line-height: 1.625;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.statItem {
  text-align: center;
}

.iconBox {
  display: inline-block;
  padding: 0.75rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.statValue {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.statLabel {
  font-size: 0.875rem;
  color: #4b5563;
  margin: 0;
}


.quoteBox {
  background-color: #f9fafb;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border-left: 4px solid rgba(49, 49, 49, 0.821);
}




.quoteText {
  color: #374151;
  font-style: italic;
  margin: 0;
}

@media (min-width: 768px) {
  .mainGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 2rem;
  }
}